
.img-container{
    width: 100%;
    height: 12rem;
}
.note-card{
    width: calc( 100% / 3  - 4rem );
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(31,27,44);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(101, 101, 101, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
   transition: transform 0.3s;
}
.card-body-cont>a{
    width: 100%;
    background-color: rgb(118,146,215);
}

.note-card:hover{
    transform: scale(1.05);
}