

.quiz-card{
       margin: 1rem; 
       height: 10rem;
       padding: 0;
       width: calc( 50% - 2rem );
       display: flex;
       flex-direction: row;
       background-color: rgb(35,34,52);
       border: none;
       border-radius: 5px;
       transition: transform 0.3s;
    }
.quiz-card:hover{
      
            transform: scale(1.05);
         
}
.img-cont{
         
         height: 90%;
         overflow: hidden;
         margin: 0;
         width: 12rem;
         border-radius: 10px;
      }
      .img-cont>img{
     margin-left: -1.5rem;
      height: 10rem;
      
      
}
   .quiz-card>div{
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         padding: 1rem;
         color: white;
   }
   