*{
    font-family: 'Poppins', sans-serif;
}
.coursestruct-wrapper {
  height: 100vh;
  padding:3%  10%;
}

.coursestruct-first-row-wrapper >h1{
  text-align: center;
}

.coursestruct-second-row{
  margin: 3% 0;
  padding: 2%;
  border: solid grey 1px;
  width: 70%;
}

.coursestruct-second-row>h3{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1% 0 1% 1%;
}

.coursestruct-second-row-wrapper>*{
margin-right: 2%;
}

.coursestruct-col-wrapper{
  padding: 0.5% 0 0 0;
  /* border: solid red 1px; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.coursestruct-col-wrapper>p{
font-family: sans-serif;
font-size: 1rem;
}

.icon-tick{
  font-size: 0.8rem;
  margin-top: -5.5%;
  margin-right: 1%;
}

.coursestruct-third-row>h3{
  font-size: 2rem;
  font-weight: 500;
  padding: 0 1% 1% 1%;
}

.coursestruct-third-row{
  margin: 3% 0;
  padding:2%;
  border: solid grey 1px;
  width: 70%;
}

.coursestruct-third-row>li{
  font-size: 1.1rem;
  padding: 0 1% 1% 1%;
  line-height: 2.5rem;
}

.last-row-button-wrapper>h3{
  font-size: 2rem;
  font-weight: 500;
  padding: 1% 0;
}

.pay-now{
  text-align: center;
}

.pay-now>button{
  text-align: center;
  width:20%;
  font-size: 1.5rem;
  font-weight: 500;
  word-spacing: 0.2rem;
  letter-spacing: -0.1rem;
}


/* /////////////////////// final message div  */

.final-message {
    margin: 3rem 0;
  background-color: #272522;
  color: white;
  padding: 5rem;
}

.final-message > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #f8423d;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 5px;
}

.final-para{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 4rem;
}
