

.quiz-page{
    background-color: rgb(31,27,44);
    color: white;
}
.filter-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-container>button{
    color: rgb(35,34,52) ;
    background-color:rgb(167, 171, 194) ;
    margin:0 1rem;
    margin-top: 1rem;
    font-weight: 600;
    padding: 0 auto;
}